body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body.menu-open {
    overflow: hidden;
}

/**** Scrollbar ****/

body::-webkit-scrollbar {
    width: 2.5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #e1e1e1;
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #333;
}

/* Animations */

@keyframes menuIconReveal {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes mainPhotoReveal {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes secondPhotoReveal {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes exploreButtonAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/**** Agency FB font ****/

@font-face {
    font-family: 'Agency FB';
    src: url('AGENCYR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**** Header ****/

header {
    background-color: #333;
    color: white;
    padding: 5px 0;
    width: 100%;
    height: 130px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
}

/**** Logo ****/

.main-logo {
    display: flex;
}

/**** Menu icon ****/

.menu-icon {
    display: flex;
    position: absolute;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 6;
    right: 5%;
    transition: transform 0.3s ease-in-out;
    animation: menuIconReveal 1.4s ease-in-out;
}

.menu-icon div {
    width: 40px;
    height: 30px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.menu-icon:hover {
    transform: translateY(-2px);
}

.menu-icon span {
    background: #e1e1e1;
    width: 100%;
    height: 1.5px;
    border-radius: 6px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}

.menu-icon .line-1 {
    transform: translate(-50%, -8px);
}

.menu-icon .line-3 {
    transform: translate(-50%, 7px);
}

.openmenu .line-1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .line-3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .line-2 {
    width: 0;
}

/**** Overlay for menu list ****/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 4;
}

.overlay.active {
    display: block;
}

/**** Menu list ****/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 5;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s, transform 0.5s, visibility 1s;
    visibility: hidden;
}

nav.open {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

nav li {
    margin: 20px 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    position: relative;
    text-align: center;
}

nav.open li {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}

nav.open li:nth-child(2) {
    transition-delay: 0.5s;
}

nav.open li:nth-child(3) {
    transition-delay: 0.7s;
}

nav.open li:nth-child(4) {
    transition-delay: 0.9s;
}

nav ul {
    padding: 100px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #e1e1e1;
    font-size: 70px;
    font-family: 'Agency FB', sans-serif;
    position: relative;
}

nav a:hover {
    color: #9f4b2c;
}

nav li::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #9f4b2c;
    transition: transform 0.35s ease-in-out;
    transform-origin: 50% 100%;
}

nav li::before {
    bottom: 0;
    left: 25%;
    transform: scaleX(0);
    transform-origin: left;
}

nav li::before {
    transform-origin: right;
}

nav li:hover::before {
    transform: scaleX(1);
}

/**** Main picture ****/

.body-container {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 130px);
    overflow: hidden;
}

.image-container {
    width: 100%;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}

.body-image {
    width: 100%;
    height: 100%;
    animation: mainPhotoReveal 1.8s ease-in-out;
}

/**** ARTIS text ****/

.text-container {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    left: 8%;
}

.word-container {
    display: flex;
    flex-direction: column;
}

.word {
    display: inline-block;
    overflow: hidden;
    color: #333;
    font-family: 'Agency FB', sans-serif;
    font-size: 4.8em;
    font-weight: 100;
    margin-bottom: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.word span {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.word span:first-child {
    color: #9f4b2c;
    font-weight: 600;
}

/**** Interiors picture ****/

.interiors-image-container {
    position: relative;
    width: 90%;
    margin: 60px auto 0 auto;
    border-radius: 15px;
    overflow: hidden;
}

.overlay-interiors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: slideInFromRight 1.8s ease-in-out;
    border-radius: 15px;
}

.interiors-image-container img {
    width: 100%;
    height: 100%;
    animation: slideInFromRight 1.8s ease-in-out;
    border-radius: 15px;
}

.explore-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 32px;
    font-size: 25px;
    background-color: #9f4b2c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: 'Agency FB', sans-serif;
    font-weight: 500;
    z-index: 2;
    animation: exploreButtonAnimation 2.2s ease-in-out;
}


.explore-button:hover {
    background-color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1.03);
}


/**** Phylosophy container ****/

.philosophy-container {
    text-align: left;
    background-color: #333;
    color: white;
    padding: 50px 20px;
    margin-top: 100px;
    padding-inline: 66px;
}

.philosophy-title,
.philosophy-text {
    opacity: 0;
    transform: translateY(-60px);
    transition: opacity 1.8s ease, transform 1.8s ease;
}

.philosophy-container.visible .philosophy-title,
.philosophy-container.visible .philosophy-text {
    opacity: 1;
    transform: translateY(0);
}

.philosophy-title {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Agency FB', sans-serif;
    margin: 0;
    color: #e1e1e1;
}

.philosophy-text {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Agency FB', sans-serif;
    display: inline-block;
    color: #e1e1e1;
    background-color: #333;
    padding: 20px;
    margin-top: 20px;
}

.brand-name {
    color: #9f4b2c;
}

/**** Contact button ****/

.button-container {
    margin-top: 40px;
    text-align: center;
    opacity: 0;
    animation: slideInFromLeft 1.7s ease-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button {
    padding: 18px 55px;
    font-size: 34px;
    background-color: #9f4b2c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: 'Agency FB', sans-serif;
    font-weight: 500;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
    background-color: #9f4b2c;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.custom-button:active {
    transform: translateY(0);
}

/**** Footer ****/

.footer-container {
    background-color: #333;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e1e1e1;
}

.social-icons {
    display: flex;
}

.social-icon {
    margin-right: 25px;
    color: #e1e1e1;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.social-icon:hover {
    color: #9f4b2c;
}

.privacy-policy {
    margin: 0;
    color: #e1e1e1;
    font-size: 24px;
    font-family: 'Agency FB', sans-serif;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.privacy-policy:hover {
    color: #9f4b2c;
}

/**** To top button ****/

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #9f4b2c;
    text-decoration: none;
    opacity: 0;
    transition: all .4s;
    border: 1px solid #333;
    z-index: 2;
}

.to-top.stop {
    position: absolute;
    bottom: auto;
    top: calc(100% - 50px);
    /* Adjust this value as needed */
    transition: top .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    color: #9f4b2c;
}

/**** Contact page ****/

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.contact-info-container {
    flex: 1;
    padding: 20px;
    background-color: #e1e1e1;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.contact-form-container {
    flex: 1;
    padding: 20px;
    background-color: #e1e1e1;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.contact-info-container h2,
.contact-form-container h2 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Agency FB', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info-container ul {
    list-style: none;
    padding: 30px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.contact-info-container li {
    margin-bottom: 70px;
    font-size: 24px;
}

.contact-info-container li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

.contact-info-container li a:hover {
    color: #9f4b2c;
}

.fas.fa-phone,
.fas.fa-envelope,
.fab.fa-facebook,
.fab.fa-instagram,
.fa-solid.fa-user {
    font-size: 40px;
    margin-right: 20px;
    vertical-align: middle;
    line-height: 30px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container label {
    font-size: 22px;
    margin-bottom: 8px;
    font-family: 'Agency FB', sans-serif;
}

.contact-form-container input {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: 'Agency FB', sans-serif;
}

.contact-form-container textarea {
    padding: 12px;
    /* Adjust padding as needed */
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    height: 100px;
    /* Set the desired height */
    font-family: 'Agency FB', sans-serif;
}

.contact-form-container button {
    background-color: #9f4b2c;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-form-container button:hover {
    background-color: #333;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

/**** Email sent page ****/

.Section-success {
    position: relative;
    height: calc(100vh - 130px);
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Honey {
    display: none;
}

.Succes-text {
    text-align: center;
    font-family: 'Agency FB', sans-serif;
    font-size: 32px;
    animation: exploreButtonAnimation 1s ease-in-out;
}

.backHome-button {
    padding: 20px 40px;
    font-size: 24px;
    background-color: #9f4b2c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: 'Agency FB', sans-serif;
    font-weight: 500;
    z-index: 2;
    animation: exploreButtonAnimation 1.3s ease-in-out;
}

.backHome-button:hover {
    background-color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

/**** Smaller screens ****/

@media (max-width: 900px) {

    .main-logo img {
        width: 140px;
        height: auto;
    }

    .menu-icon div {
        width: 40px;
        height: 20px;
    }

    .body-image {
        width: 100%;
    }

    .word {
        font-size: 1.3em;
        padding-right: 10px;
    }

    .body-container {
        flex-direction: column-reverse;
        height: 100%;
    }

    .text-container {
        align-items: center;
        justify-content: center;
        left: 0;
        margin: 0 auto;
        width: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 5px;
    }

    .word-container {
        display: flex;
        flex-direction: row;
    }

    .custom-button {
        display: block;
        padding: 10px 30px;
        font-size: 24px;
    }

    .image-container {
        width: 100%;
        height: auto;
        clip-path: none;
    }

    .philosophy-container {
        padding-inline: 20px;
        margin-top: 60px;
    }

    .philosophy-title {
        font-size: 2em;
    }

    .philosophy-text {
        font-size: 1.1em;
    }

    .overlay-interiors {
        height: 98.7%;
        border-radius: 5px;
    }

    .privacy-policy {
        font-size: 16px;
    }

    .social-icon {
        font-size: 22px;
    }

    .interiors-image-container {
        margin-top: 20px;
        width: 90%;
        border-radius: 5px;
    }

    .interiors-image-container img {
        border-radius: 5px;
    }

    .explore-button {
        padding: 12px 15px;
        font-size: 20px;
    }

    .to-top {
        width: 40px;
        height: 40px;
        font-size: 24px;
        bottom: 24px;
        right: 24px;
    }

    .contact-container {
        flex-direction: column;
        padding: 10px;
    }

    .contact-info-container {
        margin-top: 30px;
    }

    .contact-form-container {
        margin-bottom: 60px;
    }

    .fas.fa-phone,
    .fas.fa-envelope,
    .fab.fa-facebook,
    .fab.fa-instagram {
        font-size: 30px;
    }

    .contact-info-container li {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .contact-info-container ul {
        padding: 15px;
    }

    .contact-info-container h2,
    .contact-form-container h2 {
        font-size: 30px;
    }

}

/**** Even smaller screens ****/

@media (max-width: 415px) {
    .word {
        font-size: .9em;
    }

    .contact-info-container li {
        font-size: 16px;
        margin-bottom: 50px;
    }
}

/**** Bigger screens ****/

@media (min-width: 900px) {
    .word span:hover {
        transform: scale(1.10);
    }
}

@media (min-width: 1500px) {
    .word {
        font-size: 6em;
    }
}