body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body.menu-open {
    overflow: hidden;
}

/**** Scrollbar ****/

body::-webkit-scrollbar {
    width: 2.5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #e1e1e1;
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #333;
}

/* Animations */

@keyframes menuIconReveal {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes mainPhotoReveal {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes secondPhotoReveal {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes exploreButtonAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes showingFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/**** Agency FB font ****/

@font-face {
    font-family: 'Agency FB';
    src: url('AGENCYR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**** Header ****/

header {
    background-color: #333;
    color: white;
    padding: 5px 0;
    width: 100%;
    height: 130px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
}

/**** Logo ****/

.main-logo {
    display: flex;
}

/**** Menu icon ****/

.menu-icon {
    display: flex;
    position: absolute;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 6;
    right: 5%;
    transition: transform 0.3s ease-in-out;
    animation: menuIconReveal 1.4s ease-in-out;
}

.menu-icon div {
    width: 40px;
    height: 30px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.menu-icon:hover {
    transform: translateY(-2px);
}

.menu-icon span {
    background: #e1e1e1;
    width: 100%;
    height: 1.5px;
    border-radius: 6px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}

.menu-icon .line-1 {
    transform: translate(-50%, -8px);
}

.menu-icon .line-3 {
    transform: translate(-50%, 7px);
}

.openmenu .line-1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .line-3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .line-2 {
    width: 0;
}

/**** Overlay for menu list ****/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 4;
}

.overlay.active {
    display: block;
}

/**** Menu list ****/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 5;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s, transform 0.5s, visibility 1s;
    visibility: hidden;
}

nav.open {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

nav li {
    margin: 20px 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    position: relative;
    text-align: center;
}

nav.open li {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}

nav.open li:nth-child(2) {
    transition-delay: 0.5s;
}

nav.open li:nth-child(3) {
    transition-delay: 0.7s;
}

nav.open li:nth-child(4) {
    transition-delay: 0.9s;
}

nav ul {
    padding: 100px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #e1e1e1;
    font-size: 70px;
    font-family: 'Agency FB', sans-serif;
    position: relative;
}

nav a:hover {
    color: #9f4b2c;
}

nav li::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #9f4b2c;
    transition: transform 0.35s ease-in-out;
    transform-origin: 50% 100%;
}

nav li::before {
    bottom: 0;
    left: 25%;
    transform: scaleX(0);
    transform-origin: left;
}

nav li::before {
    transform-origin: right;
}

nav li:hover::before {
    transform: scaleX(1);
}

/**** Main picture ****/

.body-container {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 130px);
    overflow: hidden;
}

.image-container {
    width: 100%;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}

.body-image {
    width: 100%;
    height: 100%;
    animation: mainPhotoReveal 1.8s ease-in-out;
}

/**** ARTIS text ****/

.text-container {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    left: 8%;
}

.word-container {
    display: flex;
    flex-direction: column;
}

.word {
    display: inline-block;
    overflow: hidden;
    color: #333;
    font-family: 'Agency FB', sans-serif;
    font-size: 4.8em;
    font-weight: 100;
    margin-bottom: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.word span {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.word span:first-child {
    color: #9f4b2c;
    font-weight: 600;
}

.index-line {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    margin: 30px 0;
    position: relative;
    margin-top: 60px;
}

.index-line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/**** Interiors picture ****/

.interiors-image-container {
    position: relative;
    width: 90%;
    margin: 60px auto 0 auto;
    border-radius: 15px;
    overflow: hidden;
}

.overlay-interiors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: slideInFromRight 1.8s ease-in-out;
    border-radius: 15px;
}

.interiors-image-container img {
    width: 100%;
    height: 100%;
    animation: slideInFromRight 1.8s ease-in-out;
    border-radius: 15px;
}

.explore-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 32px;
    font-size: 25px;
    background-color: #9f4b2c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: 'Agency FB', sans-serif;
    font-weight: 500;
    z-index: 2;
    animation: exploreButtonAnimation 2.2s ease-in-out;
}


.explore-button:hover {
    background-color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1.03);
}


/**** Phylosophy container ****/

.philosophy-container {
    text-align: left;
    background-color: #333;
    color: white;
    padding: 50px 20px;
    margin-top: 100px;
    padding-inline: 66px;
}

.philosophy-title,
.philosophy-text {
    opacity: 0;
    transform: translateY(-60px);
    transition: opacity 1.8s ease, transform 1.8s ease;
}

.philosophy-container.visible .philosophy-title,
.philosophy-container.visible .philosophy-text {
    opacity: 1;
    transform: translateY(0);
}

.philosophy-title {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Agency FB', sans-serif;
    margin: 0;
    color: #e1e1e1;
}

.philosophy-text {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Agency FB', sans-serif;
    display: inline-block;
    color: #e1e1e1;
    background-color: #333;
    padding: 20px;
    margin-top: 20px;
}

.brand-name {
    color: #9f4b2c;
}

/**** Contact button ****/

.button-container {
    margin-top: 40px;
    text-align: center;
    opacity: 0;
    animation: slideInFromLeft 1.7s ease-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button {
    padding: 18px 55px;
    font-size: 34px;
    background-color: #9f4b2c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: 'Agency FB', sans-serif;
    font-weight: 500;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
    background-color: #9f4b2c;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.custom-button:active {
    transform: translateY(0);
}

/**** Footer ****/

.footer-container {
    background-color: #333;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e1e1e1;
}

.social-icons {
    display: flex;
}

.social-icon {
    margin-right: 25px;
    color: #e1e1e1;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.social-icon:hover {
    color: #9f4b2c;
}

.privacy-policy {
    margin: 0;
    color: #e1e1e1;
    font-size: 24px;
    font-family: 'Agency FB', sans-serif;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.privacy-policy:hover {
    color: #9f4b2c;
}

/**** To top button ****/

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #9f4b2c;
    text-decoration: none;
    opacity: 0;
    transition: all .4s;
    border: 1px solid #333;
    z-index: 2;
}

.to-top.stop {
    position: absolute;
    bottom: auto;
    top: calc(100% - 50px);
    transition: top .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    color: #9f4b2c;
}

/**** Cookies ****/

.container {
    width: 1600px;
    margin: auto;
}

.subcontainer {
    width: 85%;
    margin: auto;
}

#cookies {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
}

.cookies {
    min-height: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cookies p {
    font-family: 'Agency FB', sans-serif;
    font-size: 22px;
}

.cookies a {
    color: #9f4b2c;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Agency FB', sans-serif;
}

#cookies-btn {
    border-radius: 5px;
    padding: 12px 35px;
    font-size: 1.3rem;
    font-family: 'Agency FB', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: #9f4b2c;
    color: white;
    animation: transform 1.5s ease-in-out;
}

#cookies-btn:hover {
    transform: scale(1.03);
}

@media (max-width: 1600px) {
    .container{
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .cookies {
        padding: 10px 0;
    }
}

.privacy-policy a {
    color: #e1e1e1;
    text-decoration: none;
    font-family: 'Agency FB', sans-serif;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.privacy-policy a:hover {
    color: #9f4b2c;
}

/**** Contact page ****/

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.contact-info-container {
    flex: 1;
    padding: 20px;
    background-color: #e1e1e1;
    margin: 20px;
    border-radius: 10px;
}

.contact-form-container {
    flex: 1;
    padding: 20px;
    background-color: #e1e1e1;
    margin: 20px;
    border-radius: 10px;
}

.contact-info-container h2 {
    font-size: 35px;
    margin-bottom: 0;
    font-family: 'Agency FB', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-container h2 {
    font-size: 35px;
    margin-bottom: 35px;
    font-family: 'Agency FB', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info-container ul {
    list-style: none;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.contact-info-container li {
    margin-bottom: 70px;
    font-size: 24px;
}

.contact-info-container li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    font-family: 'Agency FB', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.contact-info-container li a:hover {
    color: #9f4b2c;
}

.fas.fa-phone,
.fas.fa-envelope,
.fab.fa-facebook,
.fab.fa-instagram,
.fa-solid.fa-user {
    font-size: 40px;
    margin-right: 20px;
    vertical-align: middle;
    line-height: 30px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container label {
    font-size: 22px;
    margin-bottom: 8px;
    font-family: 'Agency FB', sans-serif;
}

.contact-form-container input {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: 'Agency FB', sans-serif;
}

.contact-form-container textarea {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    height: 100px;
    font-family: 'Agency FB', sans-serif;
}

.contact-form-container button {
    background-color: #9f4b2c;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Agency FB', sans-serif;
    transition: background-color 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-form-container button:hover {
    background-color: #333;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

/**** Email sent page ****/

.Section-success {
    position: relative;
    height: calc(100vh - 130px);
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Honey {
    display: none;
}

.Succes-text {
    text-align: center;
    font-family: 'Agency FB', sans-serif;
    font-weight: 400;
    font-size: 32px;
    animation: exploreButtonAnimation 1s ease-in-out;
}

.backHome-button {
    padding: 15px 40px;
    font-size: 26px;
    background-color: #9f4b2c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: 'Agency FB', sans-serif;
    font-weight: 400;
    z-index: 2;
    animation: exploreButtonAnimation 1.3s ease-in-out;
}

.backHome-button:hover {
    background-color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

/**** Services page ****/

.packages-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    height: calc(115vh - 130px);
    overflow: hidden;
}

.package {
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.6s ease, box-shadow 0.3s ease;
    font-family: 'Agency FB', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 30%;
    background-color: #e1e1e1;
    margin-left: 20px;
    margin-right: 20px;
}

.package h2 {
    display: flex;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: 400;
}

.package p {
    font-size: 18px;
    margin-top: 45px;
}

.package:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Disclaimer {
    font-family: 'Agency FB', sans-serif;
    display: flex;
    font-size: 22px;
    padding: 25px;
    color: #9f4b2c;
}

.serviceButton-container {
    margin-top: 40px;
    text-align: center;
    opacity: 0;
    animation: slideInFromLeft 1.7s ease-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-button {
    padding: 18px 30px;
    font-size: 34px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
    font-family: 'Agency FB', sans-serif;
    font-weight: 500;
    margin-bottom: 40px;
}

.services-button:hover {
    background-color: #9f4b2c;
    transform: translateY(-3px);
}

/**** Interiors page ****/

.MainContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 130px);
    margin-bottom: 30px;
}

.MainContainer .card {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 60px;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0;
    animation: slideInFromLeft 1.2s ease forwards;
}

.MainContainer .card:nth-child(1) {
    animation-delay: 0.3s;
}

.MainContainer .card:nth-child(2) {
    animation-delay: 0.6s;
}

.MainContainer .card:nth-child(3) {
    animation-delay: 0.9s;
}

.MainContainer .card:nth-child(4) {
    animation-delay: 1.2s;
}

.MainContainer .card .imgBox,
.MainContainer .card .contentBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.MainContainer .card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MainContainer .card .contentBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: left;
    transition: opacity 0.3s ease;
}

.MainContainer .card:hover .contentBox::before,
.MainContainer .card.hover-effect .contentBox::before {
    transform: scaleX(1);
    opacity: 0.5;
    transform-origin: left;
    transition-delay: 0s;
}

.MainContainer .card .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainContainer .card .contentBox .content {
    position: relative;
    padding: 30px;
    z-index: 1;
    opacity: 0;
    font-family: 'Agency FB', sans-serif;
    font-size: .8em;
    color: initial;
}

.MainContainer .card:hover .contentBox .content,
.MainContainer .card.hover-effect .contentBox .content {
    opacity: 1;
    font-size: inherit;
    color: inherit;
}

.MainContainer .card:hover .contentBox .content h3,
.MainContainer .card.hover-effect .contentBox .content h3 {
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-family: 'Agency FB', sans-serif;
    display: flex;
}

.MainContainer .card:hover .contentBox .content p,
.MainContainer .card.hover-effect .contentBox .content p {
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 300;
    color: white;
    font-family: 'Agency FB', sans-serif;
}

.image-wrapper {
    position: relative;
    height: 100%;
}

.img-fluid {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    height: auto;
}

.Photo {
    font-size: 50px;
    font-family: 'Agency FB', sans-serif;
    font-weight: 400;
    padding: 15px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
    animation: showingFromTop 1.8s ease-in-out;
    margin-top: 0;
    margin-bottom: 30px;
}

.view-project-btn {
    padding: 15px 40px;
    font-size: 25px;
    background-color: #9f4b2c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: 'Agency FB', sans-serif;
    font-weight: 500;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 70px;
}

.view-project-btn:hover {
    background-color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .img-fluid {
        position: static;
        transform: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/**** Interior Details page ****/

.description-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.presentation-picture {
    max-width: 50%;
    flex: 0 0 auto;
    margin-right: 30px;
}

.presentation-picture img {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 100px);
    animation: mainPhotoReveal 1.8s forwards;
}

.interior-text {
    max-width: 50%;
    flex: 1 1 auto;
    text-align: center;
}

.interior-text h2 {
    font-size: 40px;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Agency FB', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    animation: exploreButtonAnimation 1.5s ease-in;
}

.interior-text p {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Agency FB', sans-serif;
    font-weight: 100;
    padding: 15px;
    text-align: start;
    animation: exploreButtonAnimation 1.5s ease-in;
}

.interior-line {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    margin: 30px 0;
    position: relative;
}

.interior-line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.grid-container {
    position: relative;
    min-height: 100vh;
    margin-bottom: 50px;
}

.grid-container h1 {
    font-size: 40px;
    font-family: 'Agency FB', sans-serif;
    font-weight: normal;
    padding: 15px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}

.grid-container .interior-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.grid-container .interior-container .image{
    height: 250px;
    width: 350px;
    border: 1px solid #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: zoom-in;
    border-radius: 2px;
}

.grid-container .interior-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.grid-container .interior-container .image:hover img {
    transform: scale(1.02);
}

.grid-container .popup-image {
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.98);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

body.popup-open {
    overflow: hidden;
}

.grid-container .popup-image .prev,
.grid-container .popup-image .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: white;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.5;
}

.grid-container .popup-image .prev {
    left: 15px;
}

.grid-container .popup-image .next {
    right: 15px;
}

.grid-container .popup-image .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 60px;
    color: white;
    cursor: pointer;
    z-index: 1000;
}

.grid-container .popup-image .prev:hover,
.grid-container .popup-image .next:hover {
    opacity: 0.7;
}

.grid-container .popup-image .prev:active,
.grid-container .popup-image .next:active {
    opacity: 0.7;
}

.grid-container .popup-image .close:hover {
    color: #e1e1e1;
}

.grid-container .popup-image .close:active {
    color: #e1e1e1;
}

.grid-container .popup-image img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.8s ease;
}

/**** Smaller screens ****/

@media (max-width: 1180px) {

    .packages-container {
        flex-direction: column;
        height: auto;
        padding: 15px;
        align-items: center;
        margin-top: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .package {
        width: calc(100% - 30px);
        margin: 10px 0;
        padding: 20px;
        margin-bottom: 40px;
    }

    .Disclaimer {
        font-size: 19px;
        margin: 0;
    }

    .serviceButton-container {
        margin-top: 25px;
    }

    .services-button {
        padding: 12px 24px;
        font-size: 25px;
    }
}

@media (max-width: 900px) {

    .main-logo img {
        width: 140px;
        height: auto;
    }

    .menu-icon div {
        width: 40px;
        height: 20px;
    }

    .body-image {
        width: 100%;
    }

    .word {
        font-size: 1.3em;
        padding-right: 10px;
    }

    .body-container {
        flex-direction: column-reverse;
        height: 100%;
    }

    .text-container {
        align-items: center;
        justify-content: center;
        left: 0;
        margin: 0 auto;
        width: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 0;
    }

    .word-container {
        display: flex;
        flex-direction: row;
    }

    .custom-button {
        display: block;
        padding: 10px 30px;
        font-size: 24px;
    }

    .image-container {
        width: 100%;
        height: auto;
        clip-path: none;
    }

    .philosophy-container {
        padding-inline: 20px;
        margin-top: 60px;
    }

    .philosophy-title {
        font-size: 2em;
    }

    .philosophy-text {
        font-size: 1.1em;
    }

    .overlay-interiors {
        height: 98.7%;
        border-radius: 5px;
    }

    .privacy-policy {
        font-size: 16px;
    }

    .social-icon {
        font-size: 22px;
    }

    .interiors-image-container {
        margin-top: 20px;
        width: 90%;
        border-radius: 5px;
    }

    .interiors-image-container img {
        border-radius: 5px;
    }

    .explore-button {
        padding: 12px 15px;
        font-size: 20px;
    }

    .to-top {
        width: 40px;
        height: 40px;
        font-size: 24px;
        bottom: 24px;
        right: 24px;
    }

    .contact-container {
        flex-direction: column;
        padding: 10px;
    }

    .contact-info-container {
        margin-top: 30px;
    }

    .contact-form-container {
        margin-bottom: 60px;
    }

    .fas.fa-phone,
    .fas.fa-envelope,
    .fab.fa-facebook,
    .fab.fa-instagram {
        font-size: 30px;
    }

    .contact-info-container li {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .contact-info-container ul {
        padding: 10px;
    }

    .contact-info-container h2,
    .contact-form-container h2 {
        font-size: 30px;
    }

    .Photo {
        font-size: 2.7em;
        margin-bottom: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .MainContainer .card {
        margin: 25px;
    }

    .MainContainer .card:hover .contentBox .content h3 {
        font-size: 1.7em;
    }

    .MainContainer .card:hover .contentBox .content p {
        font-size: 1.3em;
    }

    .interior-button {
        display: block;
        padding: 10px 30px;
        font-size: 24px;
    }

    .MainContainer .card {
        opacity: 0;
        animation: slideInFromLeft 1.4s ease forwards;
    }

    .MainContainer .card .contentBox::before {
        transition: opacity 0.6s ease;
    }

    .grid-container .popup-image img {
        width: 95%;
    }

    .grid-container .interior-container {
        margin-bottom: 40px;
    }

    .view-project-btn {
        padding: 15px 30px;
        margin-top: 70px;
    }

    .description-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
    }

    .presentation-picture {
        width: 100%;
        max-width: none;
        margin-right: 0;
    }

    .presentation-picture img {
        height: auto;
        border-radius: 0;
    }

    .interior-text {
        max-width: 100%;
        margin-top: 30px;
    }

    .interior-text h2 {
        font-size: 40px;
    }

    .package h2 {
        text-transform: capitalize;
        font-weight: 400;
        margin-top: 0;
    }

    .package p {
        font-weight: 100;
    }

    .MainContainer {
        margin-bottom: 40px;
    }

    .index-line {
        width: 100%;
        height: 2px;
        background-color: #ddd;
        margin: 30px 0;
        position: relative;
        margin-top: 0;
    }
    
    .index-line::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .cookies p {
        font-size: 19px;
    }

    #cookies {
        background-color: black;
    }

    #cookies-btn {
        margin: 0 auto;
        font-size: 20px;
        font-weight: 300;
        border-radius: 8px;
        margin-bottom: 15px;
    }
}

/**** Even smaller screens ****/

@media (max-width: 415px) {
    .word {
        font-size: .9em;
    }

    .contact-info-container li {
        font-size: 16px;
        margin-bottom: 50px;
    }
}

/**** Bigger screens ****/

@media (min-width: 900px) {
    .word span:hover {
        transform: scale(1.10);
    }
}

@media (min-width: 901px) {
    .word {
        font-size: 3.8em;
    }
}

@media (min-width: 1080px) {
    .word {
        font-size: 4.5em;
    }
}

@media (min-width: 1100px) {
    .interior-text h2 {
        font-size: 50px;
    }
}

@media (min-width: 1500px) {
    .word {
        font-size: 6em;
    }
}

@media (min-width: 1700px) {
    .Photo {
        margin-top: 50px;
    }
}